<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payslip</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<div class="topnav">
  <a class="active" href="/#Home">Home</a>
  <a href="form.html">PaySlip</a>
  <a href="#gpf">GPF</a>
  <a href="#about">About</a>
</div>
</body>
</html>




#####form
</head>
<body>
<form action="/action_page.php">

    <div class="form"<label for="statement">CPF/GPF Statement</label>
  <input type="text" id="fname" name="fname" value=""></p>

    <p> <label for="birthday">Date Of Birth</label>
  <input type="date" id="birthday" name="birthday"></p>


    <button type='submit'>Submit</button>
</form>

</body>
</html>




######
<div class="row">
      <div class="col-25">
        <label for="month">Month</label>
      </div>
<div>
      <div class="col-75">
        <input type="text" id="month" name="month" placeholder="Enter month">
      </div>
    </div>
  </div>
      </div>